.header { font-family: Arial, Helvetica, sans-serif; }

.navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #363636;
    border-radius: 10px;
}

.navBarItem { float: left; }

.navBarLink {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#markdown-content {
    font-family: Arial, Helvetica, sans-serif;
}

.navBarItem.selectedItem .navBarLink { background-color: #00CCCC; }

.navBarLink:hover { background-color: #202020; }

.navBarItem.selectedItem .navBarLink:hover { background-color: #00AAAA; }